@page "/alunos"
@using static Frontend.FIAP.Objects.Receive.ListAlunos
@inject HttpClient HttpClient
@inject ApiService ApiService
<PageTitle>Alunos</PageTitle>
<h3>Alunos</h3>

<div class="table-responsive">
    <table class="tabela-informacoes table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tag</th>
                <th scope="col">Cód.Material</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cod_interno</td>
                <td>descricao</td>
                <td>id_codbarra</td>
            </tr>
        </tbody>
    </table>
</div>


@code {
    private List<Aluno> alunos;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            alunos = await ApiService.GetDataAPI("http://localhost:5096/api/Alunos/GetAllAlunos");
        }
        catch (Exception ex)
        {
            Console.WriteLine("Erro ao fazer requisição: " + ex.Message);
        }
    }
}
